@import "../../styles/_snippets.scss";

.root {
  background-color: transparent;
  cursor: pointer;
  @include transition(0.1s);
}

// variants
.icon {
  padding: .6em;
  svg {
    display: block;
  }
}
.text {
  border-radius: 4px;
  padding: 0.6em 1.7em;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
}
