@import "../../styles/_colors.scss";
@import "../../styles/_snippets.scss";

@mixin theme($backgroundColor, $foregroundColor) {
  color: $foregroundColor;
  header {
    background-color: lighten($backgroundColor, 5%);
  }
  main {
    background-color: $backgroundColor;
  }
  button {
    color: $foregroundColor;
    &:hover {
      background-color: darken($backgroundColor, 10%);
    }
    &:focus {
      box-shadow: 0 0 0 2px $foregroundColor;
    }
    &:active {
      background-color: $grey-color;
    }
  }
  form {
    background-color: lighten($backgroundColor, 15%);
    box-shadow: 0 0 2px $foregroundColor;
    input {
      color: $foregroundColor;
      &:focus {
        box-shadow: 0 0 0 2px $foregroundColor;
      }
    }
  }
}

.light {
  @include theme($light-theme-background, $light-theme-foreground);
}

.dark {
  @include theme($dark-theme-background, $dark-theme-foreground);
}

.dynamic {
  @include theme($dynamic-theme-background, $dark-theme-foreground);
}
