.root {
  display: flex;
  padding: 7px 15px;
  position: relative;
  > :first-child {
    flex-grow: 11;
  }
  form {
    display: flex;
    flex-grow: 1;
  }
  button {
    border: 1px solid orange;
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}
