.root {
  display: flex;
  padding: 0.5em 15px;
  > :first-child {
    flex-grow: 11;
  }
  > :last-child {
    display: flex;
    flex-grow: 1;
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}
