.root {
  display: flex;
  border-radius: 5px;
  input {
    font-size: 0.9rem;
    padding: 0.9em;
    background-color: transparent;
    border: none;
    width: 100%;
  }
  // input,
  // button {
  //   // background-color: transparent;
  //   border: none;
  // }
  svg {
    display: block;
  }
}
