.root {
  display: flex;
  border-radius: 5px;
  input {
    font-size: 0.9rem;
    padding: 0.9em;
    margin-right: 4px;
    background-color: transparent;
    border: none;
    width: 100%;
  }
  svg {
    display: block;
  }
}
