.root {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  main {
    height: 100%;
  }
}

.theme--dynamic {
  color: #ffffff;
  main {
    background-color: #3678b5;
  }
}
.theme--light {
  color: #000000;
  main {
    background-color: #e6e6e6;
  }
}
.theme--dark {
  color: #ffffff;
  main {
    background-color: #171717;
  }
}
